<div class="banner">
  <div class="container">
    <h1>KittySittin'</h1>
    <h2>Leave your furry babies in good hands</h2>
    <div class="buttons">
      <a class="btn-flat" href="/cats">Care for a cat!</a>
      <a class="btn-flat" href="/cats/new">Post your cat!</a>
    </div>
  </div>
</div>
